<div class="flex flex-row justify-between items-start px-4 pb-12 bg-primary-500">
  <%= render partial: 'shared/page_name', locals: { title: @recipe.name, link: family_recipes_path(@family) } %>

  <div class="flex justify-center md:relative md:bottom-0 md:ml-0 md:w-auto gap-4">
    <%= link_to edit_family_recipe_path(@family, @recipe) do %>
      <svg data-slot="icon" class="w-6 h-6 mt-1 text-white" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"></path>
      </svg>
    <% end %>
    <%= link_to recipe_path(@recipe), data: { turbo_method: :delete } do %>
      <svg data-slot="icon" class="w-6 h-6 mt-1 text-white" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"></path>
      </svg>
    <% end %>
  </div>
</div>

<div class="p-4 relative -top-8 rounded-[24px] bg-white">
  <div class="p-5 bg-slate-100 rounded-md grid gap-y-4 grid-cols-1 md:grid-cols-3 md:gap-x-8">
    <div class="space-y-4">
      <% if @recipe.photo.attached? %>
        <%= cl_image_tag @recipe.photo, class: "w-full h-80 object-cover rounded-md" %>
      <% else %>
        <%= image_tag "image-placeholder.svg", class: "w-full h-80 object-cover rounded-md" %>
      <% end %>
    </div>
    <div class="col-span-2 space-y-4">
      <div class="space-y-2">
        <h2 class="text-xl font-bold text-gray-800"><%= t('.recipe_type') %></h2>
        <div class="flex gap-2">
          <span class="px-3 py-1 text-sm text-primary-500 bg-primary-50 rounded-md">
            <%= Recipe.human_attribute_name("recipe_type.#{@recipe.recipe_type}") %>
          </span>
        </div>
      </div>

      <div class="space-y-2">
        <h2 class="text-xl font-bold text-gray-800"><%= t('.ingredients') %></h2>
        <div class="flex gap-2">
          <%= render partial: 'ingredients/list', locals: { recipe: @recipe } %>
        </div>
      </div>

      <div class="space-y-2">
        <h2 class="text-xl font-bold text-gray-800"><%= t('.description') %></h2>
          <% if @recipe.description.present? %>
            <p class="text-gray-800"><%= @recipe.description %></p>
          <% else %>
            <p class="text-gray-500"><%= t('.no_description') %></p>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
