<div class="flex flex-col justify-between md:flex-row md:items-center">
  <%= render partial: 'shared/page_name', locals: { title: t('.title') } %>
</div>

<div class="mt-8">
  <div class="max-w-2xl p-5 bg-white shadow-xs rounded-lg">
    <p class="mb-4 font-bold text-lg text-gray-800"><%= t('.form_title') %></p>
    <%= simple_form_for(@user, url: invitation_path(@user), html: { method: :post }) do |f| %>
      <%= f.input :name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "name" } %>
      <%= f.input :birth_date,
                  required: true,
                  as: :date,
                  html5: true,
                  input_html: { autocomplete: "birth_date" } %>
      <div class="hidden">
        <%= f.association :families, as: :radio_buttons, checked: 1 %>
      </div>
      <% @user.class.invite_key_fields.each do |field| -%>
        <%= f.input field %>
      <% end -%>
      <%= f.button :submit, t("devise.invitations.new.submit_button") %>
    <% end %>
  </div>
</div>
