<div class="flex flex-row justify-between items-start px-4 pt-4 pb-12 bg-primary-500">
  <%= render partial: 'shared/page_name', locals: { title: t('.title'), link: :back } %>
</div>

<div class="p-4 relative -top-8 rounded-[24px] bg-white">
  <%= render partial: "form" %>
  <div class="mt-4 max-w-2xl p-5 bg-slate-100 rounded-md">
    <p class="mb-4 font-bold text-lg text-gray-800"><%= t('.preferences') %></p>
    <div class="flex items-center justify-between gap-4">
      <p class="text-gray-800"><%= t('.edit_language') %></p>
      <% if I18n.locale == I18n.default_locale %>
        <%= link_to "Switch to English", ({ locale: 'en' }), class: "text-sm text-primary-500 hover:text-primary-200" %>
      <% else %>
        <%= link_to "Passer en Français", ({ locale: 'fr' }), class: "text-sm text-primary-500 hover:text-primary-200" %>
      <% end %>
    </div>
  </div>
</div>
