<section class="pt-20">
  <div class="container py-16 text-center">
    <div class="max-w-xl mx-auto">
      <h1 class="text-3xl font-extrabold text-gray-800 lg:text-4xl">
        <%= t("homepage.hero.title") %>
      </h1>
      <p class="my-6 text-gray-800">
        <%= t("homepage.hero.subtitle") %>
      </p>
      <a href="<%= families_path %>" class="px-4 py-2 font-bold text-white bg-orange-500 rounded-lg transition-colors duration-300 transform hover:bg-orange-400 focus:outline-none focus:ring focus:ring-orange-300 focus:ring-opacity-80">
        <%= t("homepage.hero.cta") %>
      </a>
      <p class="mt-3 text-sm text-gray-500 ">
        <%= t("homepage.hero.hint") %>
      </p>
    </div>

    <div class="mt-10">
      <img class="object-cover w-full max-h-96 rounded-xl" src="https://images.unsplash.com/photo-1581952976147-5a2d15560349?q=80&w=2342&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
    </div>
  </div>
</section>
