<div class="simple-calendar rounded-md overflow-hidden">
  <div class="p-4 flex items-center justify-between bg-secondary-500">
    <span>
      <%= link_to calendar.url_for_previous_view, class: "text-primary-500" do %>
        <svg class="w-6 h-6" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M21 16.811c0 .864-.933 1.406-1.683.977l-7.108-4.061a1.125 1.125 0 0 1 0-1.954l7.108-4.061A1.125 1.125 0 0 1 21 8.689v8.122ZM11.25 16.811c0 .864-.933 1.406-1.683.977l-7.108-4.061a1.125 1.125 0 0 1 0-1.954l7.108-4.061a1.125 1.125 0 0 1 1.683.977v8.122Z"></path>
        </svg>
      <% end %>
    </span>

    <span class="text-primary-500 leading-none">
      <%= t('simple_calendar.week', start: l(start_date.beginning_of_week, format: "%d %B"), end: l(start_date.end_of_week, format: "%d %B")) %>
      <%# link_to t('simple_calendar.today'), calendar.url_for_today_view %>
    </span>

    <span>
      <%= link_to calendar.url_for_next_view, class: "text-primary-500" do %>
        <svg class="w-6 h-6" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3 8.689c0-.864.933-1.406 1.683-.977l7.108 4.061a1.125 1.125 0 0 1 0 1.954l-7.108 4.061A1.125 1.125 0 0 1 3 16.811V8.69ZM12.75 8.689c0-.864.933-1.406 1.683-.977l7.108 4.061a1.125 1.125 0 0 1 0 1.954l-7.108 4.061a1.125 1.125 0 0 1-1.683-.977V8.69Z"></path>
        </svg>
      <% end %>
    </span>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2">
    <% date_range.each do |day| %>
      <div class="p-4 border-b border-secondary-500 space-y-2">
        <h2 class="font-bold text-primary-500">
          <%= t('date.day_names')[day.wday] %> <%= day.day %> <%= t('date.month_names')[day.month] %>
        </h2>

        <% lunch_meals = @meals.select { |meal| meal.date.to_date == day && meal.meal_type == "lunch" } %>
        <div class="border-2 border-violet-500 rounded-md">
          <p class="inline-block absolute px-2 rounded-tl rounded-br bg-violet-500 text-white text-sm"><%= Meal.human_attribute_name("meal_type.lunch") %></p>
          <div class="mt-6 pl-2 pb-1">
            <% if lunch_meals.any? %>
              <% lunch_meals.each do |meal| %>
                <p><%= meal.recipe.name %></p>
              <% end %>
            <% else %>
              <p class="text-gray-500"><%= t('.no_meals') %></p>
            <% end %>
          </div>
        </div>

        <% dinner_meals = @meals.select { |meal| meal.date.to_date == day && meal.meal_type == "dinner" } %>
        <div class="border-2 border-amber-500 rounded-md">
          <p class="inline-block absolute px-2 rounded-tl rounded-br bg-amber-500 text-white text-sm"><%= Meal.human_attribute_name("meal_type.dinner") %></p>
          <div class="mt-6 pl-2 pb-1">

            <% if dinner_meals.any? %>
              <% dinner_meals.each do |meal| %>
                <p><%= meal.recipe.name %></p>
              <% end %>
            <% else %>
              <p class="text-gray-500"><%= t('.no_meals') %></p>
            <% end %>

          </div>
        </div>
      </div>
    <% end %>
  </div>

  <!--<table class="table table-striped">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= t('date.day_names')[day.wday] %> <%= day.day %> <%= t('date.month_names')[day.month] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% instance_exec(day, calendar.sorted_events_for(day), &passed_block) %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>-->
</div>
