<div class="flex h-screen justify-center items-center">
  <div class="w-full max-w-sm p-6 bg-white rounded-lg shadow-md dark:bg-gray-800">
    <div class="flex justify-center mx-auto">
      <img class="w-auto h-7 sm:h-8" src="<%= image_path("famizy-logo.svg") %>" alt="Logo Famizy">
    </div>

    <h3 class="mt-6 text-3xl font-bold text-center text-gray-800 dark:text-gray-200">Log in</h3>

    <div class="flex items-center my-6 -mx-2">
      <a href="#" type="button" class="flex items-center justify-center w-full px-6 py-2 mx-2 text-sm font-medium text-white transition-colors duration-300 transform bg-orange-500 rounded-lg hover:bg-orange-400 focus:bg-orange-400 focus:outline-none">
        <svg class="w-4 h-4 mx-2 fill-current" viewBox="0 0 24 24">
          <path d="M12.24 10.285V14.4h6.806c-.275 1.765-2.056 5.174-6.806 5.174-4.095 0-7.439-3.389-7.439-7.574s3.345-7.574 7.439-7.574c2.33 0 3.891.989 4.785 1.849l3.254-3.138C18.189 1.186 15.479 0 12.24 0c-6.635 0-12 5.365-12 12s5.365 12 12 12c6.926 0 11.52-4.869 11.52-11.726 0-.788-.085-1.39-.189-1.989H12.24z">
          </path>
        </svg>

        <span class="hidden mx-2 sm:inline">Sign in with Google</span>
      </a>
    </div>

    <div class="flex items-center justify-between mt-4">
      <span class="w-2/5 border-b dark:border-gray-600 lg:w-2/5"></span>

      <p class="text-xs text-center text-gray-500 uppercase dark:text-gray-400 hover:underline">
        or
      </p>

      <span class="w-2/5 border-b dark:border-gray-400 lg:w-2/5"></span>
    </div>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

        <%= f.button :submit, "Log in", class: "w-full" %>
    <% end %>

    <div class="mt-6">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
