<div class="min-h-screen p-4 flex justify-center items-center">
  <div class="w-full max-w-md p-6 bg-secondary-200 rounded-md">
    <div class="flex justify-center">
      <img class="w-auto h-6" src="<%= image_path("famizy-logo.svg") %>" alt="Logo Famizy">
    </div>

    <h1 class="my-6 text-2xl font-extrabold text-center text-primary-500"><%= t('.title') %></h1>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.input :email,
                    placeholder: "johndoe@example.com",
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    placeholder: "••••••••",
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

        <%= f.button :submit, t('.btn'), class: "w-full" %>
    <% end %>

    <div class="mt-6">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
