<!DOCTYPE html>
<html>
  <head>
    <title>App Famizy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="flex" data-controller="menu">
    <%= render "shared/dashboard_sidebar" %>
    <div class="min-h-screen w-full bg-white flex-1">
      <%= render "shared/dashboard_navbar" %>
      <main class="relative pb-20">
        <%= render "shared/flashes" %>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
